p {
  text-align: justify;
  font-size: 1.5rem;
  margin-top: 30px;
}

.title1 {
  margin-top: 100px;
}

.me-image {
  border-radius: 50px;
  margin: 50px;
}

.icon{
  font-size: 150px;
  margin: 30px;
  
}

.curriculum-second-title {
  margin-top: 150px;
}

button:hover {
  background-color: #b8860b;
  color: #000000;
}
